@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&amp;display=swap");

:root {
  --text-color: #333;
  --bg-color: cornsilk;
  --theme-color: lightsalmon;
  --border-color: gainsboro;
  --primary-button: darkorange;
  --primary-button-hover: orangered;
  --secondary-button: hotpink;
  --secondary-button-hover: deeppink;
  --alternative-button: plum;
  --alternative-button-hover: mediumorchid;
  --cancel-button: gainsboro;
  --cancel-button-hover: darkgray;
  --sidebar-primary-button: cornsilk;
  --sidebar-secondary-button: lavender;
  --sidebar-alternative-button: lightcyan;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

a {
  color: var(--primary-button);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.h0 {
  font-size: 2.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

small {
  font-size: 0.8rem;
}

button {
  display: block;
  font-size: 1rem;
  color: var(--text-color);
  border: 0;
  margin-inline-end: 16px;
  margin-block-end: 16px;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  background: var(--primary-button);
  transition: 0.3s ease-out background;
}

button:hover {
  background: var(--primary-button-hover);
  color: #fff;
}

button.md,
a.button.md {
  padding: 0.75rem 4rem;
}

button.lg,
a.button.lg {
  font-size: 1.5rem;
  padding: 1rem 4rem;
}

button.secondary {
  background: var(--secondary-button);
}

button.secondary:hover {
  background: var(--secondary-button-hover);
  color: #fff;
}

button.alternative {
  background: var(--alternative-button);
}

button.alternative:hover {
  background: var(--alternative-button-hover);
  color: #fff;
}

button.cancel {
  background: var(--cancel-button);
}

button.cancel:hover {
  background: var(--cancel-button-hover);
  color: var(--text-color);
}

a.button {
  display: block;
  margin-block-end: 16px;
  background-color: var(--primary-button);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  display: inline-block;
  transition: 0.3s ease-out background;
  margin-inline-end: 16px;
}

a.button:hover {
  color: #fff;
}

a.button.secondary {
  background-color: var(--secondary-button);
}

a.button.secondary:hover {
  background: var(--secondary-button-hover);
}

a.button.alternative {
  background-color: var(--alternative-button);
}

a.button.alternative:hover {
  background: var(--alternative-button-hover);
}

a.button.cancel {
  background-color: var(--cancel-button);
}

a.button.cancel:hover {
  background: var(--cancel-button-hover);
  color: var(--text-color);
}

/* Labels */

label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin-block-end: 8px;
}

input {
  accent-color: var(--primary-button);
}

input,
select,
textarea {
  font-family: inherit;
  color: var(--text-color);
  border-radius: 8px;
  border: 2px solid lightgray;
  padding: 0.5rem;
  font-size: 1rem;
  margin-block-end: 16px;
}

input::placeholder {
  color: var(--border-color);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--theme-color);
}

/* CSS Toggle Switch */

/* The switch - the box around the slider */

label.switch {
  margin-block-end: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle_switch {
  display: flex;
  margin-block-end: 16px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-button);
}

input:focus + .slider {
  box-shadow: 0 0 1px lightslategray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header {
  background: var(--theme-color);
  display: grid;
  justify-items: center;
}

.container {
  width: 600px;
  max-width: 100%;
  padding: 16px;
  margin: 0 auto;
}

/* Mobile Optimizations for 600 pixel and under device width */

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  input,
  label,
  textarea,
  select,
  button,
  .toggle_switch {
    width: 100%;
    font-size: 1.2rem;
  }
  input,
  button {
    padding: 1rem;
  }
}
