/*!CK:4167984450!*//*1396798801,178158627*/

._75z img{width:30px;height:30px}._75-{margin-bottom:5px}._75- .img{width:30px;height:30px}

#bootloader_NYE_v { height: 42px; }
.bootloader_NYE_v { display:block !important; }