/*!CK:2192568621!*//*1460798637,*/

.touch ._50l4{margin:0 8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.touch ._1uh1 ._50l4{margin:0 4px;padding-top:1px}.touch ._1uh1 ._50l4.mfsl{font-size:18px;line-height:22px}

#bootloader_BPUjr{height:42px;}.bootloader_BPUjr{display:block!important;}

._5yd1{
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 56, 71);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 18px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-align: left;
    width: 664px;
}